@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  animation-name: fadeinAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeinAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span.avoidwrap {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.anchor {
  display: block;
  padding-top: 50px;
  margin-top: -50px;
}

h1 {
  border-bottom: 1px solid grey;
}

header {
  font-size: 18px;
  top: 0;
  position: fixed;
  width: 100%;
  margin: auto;
  background: #c0c0c0;
  opacity: 0.9;
}

nav {
  display: flex;
  justify-content: space-between;
  animation-name: fadeupAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  text-align: center;
  display: inline-block;
  padding: 10px;
}
@keyframes fadeupAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav .hamburger {
  text-align: center;
  display: inline-block;
  padding: 10px;
}

.hide {
  display: none !important;
}

.top_image {
  position: relative;
  z-index: -1;
  margin-bottom: 30px;
}
.top_image img {
  width: 100vw;
  height: 55vw;
  text-align: center;
}
.top_image p {
  font-size: 60px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 1px grey;
}

.textbody {
  width: 55%;
  margin: 10px auto;
}
.textbody_mobile {
  width: 60%;
  margin: 10px auto;
}

.content {
  margin: 20px auto;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title p {
  font-size: 18px;
  font-weight: bold;
}
.detail {
  font-size: 14px;
  color: grey;
}

.icons {
  display: flex;
  margin: auto 0;
}
.icons a {
  margin: 0 2px;
  /* background: red; */
}
.icons img {
  width: 20px;
  height: 20px;
  opacity: 1;
}
.icons img:hover {
  opacity: 0.6;
}

footer {
  width: 100%;
  padding: 20px 0;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid grey;
}
